body {
  background: #E9537B;
}

html body header {
  height: 100%;
  overflow: auto;
}

#mainNav {
  background: rgba(33, 37, 41, 0.8);
  border: none;
  letter-spacing: 1px;
  padding: 25px;
}

.navbar-brand {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-size: 2em;
}

.navbar-brand:hover {
  color: white;
}

.fa.fa-heart {
  color: #ED467B;
}


nav.navbar-brand a {
  color: #ffffff;
}

.navbar-nav.ml-auto li a {
  color: #ffffff;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

.navbar-nav.ml-auto li a:hover {
  color: #E9537B;
}

.navbar-nav.ml-auto li a:active {
  color: #ffffff;
}

header.masterhead h1 {
  display: block;
  margin: 0 auto 20px;
  color: #ffffff;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.75em;
}
  

header.masterhead img {
  display: block;
  margin: 0 auto 20px;
  width: 30%;
  padding-top: 100px;
}