body {
  background: #E9537B;
}

html body header {
  height: 100%;
}

#mainNav {
  background: rgba(33, 37, 41, 0.8);
  border: none;
  letter-spacing: 1px;
  padding: 25px;
}

.navbar-brand {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-size: 2em;
}

.navbar-brand:hover {
  color: white;
}

.fa.fa-heart {
  color: #ED467B;
  animation: heartbeat 1s infinite;
}

nav.navbar-brand a {
  color: #ffffff;
}

.navbar-nav.ml-auto li a {
  color: #ffffff;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

.navbar-nav.ml-auto li a:hover {
  color: #E9537B;
}

.navbar-nav.ml-auto li a:active {
  color: #ffffff;
}

header.masterhead .donation {
  display: block;
  margin: 0 auto 10px;
  color: #ffffff;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.75em;
  text-align: center;
}

header.masterhead .textdn {
  display: block;
  margin: 0 auto 10px;
  color: #ffffff;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 50px;
}

header.masterhead img {
  display: block;
  margin: 0 auto 20px;
  padding-top: 150px; 
}

hr.heart-light,
hr.heart-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; 
}

hr.heart-light:after,
hr.heart-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f004'; 
}

hr.heart-light {
  border-color: white; 
}

hr.heart-light:after {
  color: white;
  background-color: #E9537B; 
}

#gallery {
  background: #ffffff;
  color: #212529;
}

#gallery .textdn {
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
}

#gallery hr.heart-light {
  border-color: #212529; 
}

#gallery hr.heart-light:after {
  background-color: #ffffff;
  color: #212529;
}

/* galleryt */
.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
  padding: 10px;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -33px;
  opacity: 0;
  color: #fff;
  font-size: 60px;
  font-family: FontAwesome;
  content: '\f00e';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(233, 83, 123, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}

/* Animations */
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}